h2 {
	margin: 0;
	padding: 0;
}

.habit {
	display: flex;
	gap: 5px;
	margin-bottom: 10px;
	align-items: center;
}

.habit h2 {
	margin-right: 10px;
}

.day {
	height: 20px;
	width: 20px;
	background: #eeeeee;
	border: 1px solid black;
} 